
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #080808; /* Light grey background */
  color: #ffd900be; /* Dark grey text for readability */
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #ffd900be; /* Bee Yellow for header */
  color: #333333;
  margin-top: 15px;
  font-size: 26px;
}

button {
  background-color: #FF8C00; /* Honeycomb Orange for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #FF6F00; /* Slightly darker orange on hover */
}

a {
  color: #4CAF50; /* Forest Green for links */
  text-decoration: none;
  cursor: pointer;
  font-size: 22px;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  gap: 10px; /* Space between the boxes */
  /* margin-top: 20px; */
  align-items: center;
}

/* Square input boxes */
.letter-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #ffd9007f; /* Dark grey border */
  color: #FFD700;
  border-radius: 8px; /* Rounded corners */
  background-color: #080808; /* White background */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus effect */
.letter-input:focus {
  outline: none;
  border-color: #FFD700; /* Bee yellow border on focus */
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.6); /* Subtle glowing effect */
}

/* Styling for the input on typing (letter case centered) */
.letter-input::placeholder {
  color: #777777; /* Lighter grey placeholder text */
  font-style: italic;
}

.bee-icon {
  margin-left: 0.75rem; /* equivalent to ml-3 */
  font-size: 3rem;       /* equivalent to text-5xl */
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
